h1 Create an album

form(method='GET' action='/saveAlbum')
    p
        label(for='userId') User ID:
        input(type='text', id='userId', name='userId')

    p
        label(for='id') ID:
        input(type='text', id='id', name='id')
    p
        label(for='title') Title:
        input(type='text', id='title', name='title')

    br
    button Submit